# Here you can put the Capgemini API key
CAPGEMINI_API_KEY=

# If this is true, local LLM will be used with ollama instead of the API 
USE_LOCAL_LLM=True

# Provide the context from the framework
PROVIDE_CONTEXT=True

# Put the original code in the documentation for reference 
PROVIDE_CODE=True

# Model provider and name
MODEL_PROVIDER=azure
MODEL_NAME=openai.gpt-4o

# MODEL_PROVIDER=bedrock
# MODEL_NAME=anthropic.claude-3-5-sonnet-20240620-v1:0

# MODEL_PROVIDER=bedrock
# MODEL_NAME=anthropic.claude-3-haiku-20240307-v1:0

# The path to the repository

# Java Large
REPOSITORY_PATH=/home/pimvanleeuwen/Documents/java_util

# Java Medium
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/employer-worker-registration-system

# Java Small
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/GUI-based-Algorithm-Calculator

# CPP Large
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/JUCE

# CPP Medium
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/TexasSolver

# CPP Small
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/astro
