CAPGEMINI_API_KEY=
USE_LOCAL_LLM=True

# To utilize the AST and context providing
PROVIDE_CONTEXT=True

# Model provider and name
MODEL_PROVIDER=azure
MODEL_NAME=openai.gpt-4o

# MODEL_PROVIDER=bedrock
# MODEL_NAME=anthropic.claude-3-5-sonnet-20240620-v1:0

# MODEL_PROVIDER=bedrock
# MODEL_NAME=anthropic.claude-3-haiku-20240307-v1:0

# Java Large
REPOSITORY_PATH=/home/pimvanleeuwen/Documents/java_util

# Java Medium
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/employer-worker-registration-system

# Java Small
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/GUI-based-Algorithm-Calculator

# CPP Large
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/JUCE

# CPP Medium
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/TexasSolver

# CPP Small
# REPOSITORY_PATH=/home/pimvanleeuwen/Documents/astro
