#### TestResult() [2/2]


 UnitTestRunner::TestResult::TestResult ( const String & name, const String & subCategory ) explicit 
 


Member Data Documentation